doctype html
html
	head
		link(href="styles.css", rel="stylesheet", type="text/css")
		meta(charset="utf-8")
	body
		table
			tr
				th ID
				th DATE
				th DOC_ID
				th SUMM
			tr
				td 1
				td 01.06.2019
				td 2
				td 2000
			tr
				td 2
				td 01.06.2019
				td 3
				td 2000
			tr
				td 3
				td 03.06.2019
				td 1
				td 1000
			tr
				td 4
				td 03.06.2019
				td 2
				td 500
			tr
				td 5
				td 04.06.2019
				td 1
				td 2000
			tr
				td 6
				td 07.06.2019
				td 3
				td 2000
			tr
				td 7
				td 01.01.2018
				td 2
				td 1000
			tr
				td 8
				td 02.03.2017
				td 1
				td 1500
		br
		table
			tr
				th ID 
				th FULL_NAME
				th SPEC
			tr
				td 1
				td Иванов И.А.
				td Терапевт
			tr
				td 2
				td Сергеев А.А.
				td Хирург
			tr
				td 3
				td Малинина Ю.И.
				td Массажист
		br

	script(src='script.js')
